html{
 box-sizing: border-box;
}

*, *:before, *:after{
 box-sizing: inherit;
}

body {
  background-attachment: fixed;
  background-color: $yellow;
  background-image: url('/acme/images/site/background.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0 20px;
}

#container {
  background-color: $white;
  margin: 0 auto 50px auto;
  max-width: 720px;
}

main {
  padding: 10px;
}

hr {

  margin: 50px 0;
  border: 1px solid $border-color;

}
