$black: #000000;
$blue: #0000ee;
$gray: #808080;
$green: seagreen;
$maroon: #990033;
$red: #de2226;
$white: #ffffff;
$yellow: #F6EF88;
$green: #3CB371;
$positive-color: $green;
$form-input-color: $gray;
$form-placeholder-color: lighten($gray, 30%);
$border-color: #e0e0e0;
