#review-banner {
  background-color: $border-color;
  display: flex;
  justify-content: center;
  margin: 0 0 15px 0;
  min-height: 50px;
  padding: 0;
  width: 100%
}

#product-reviews-table {
  list-style-type: none;

  li {
    margin-left: -10px;
    margin-bottom: 25px;
    max-width: 400px;
  }

  .meta-text {
    font-size: 13px;
    color: $gray;
  }
}

#your-product-reviews-table {
  width: 100%;

  th {
    width: 100%;
  }

  .table-main-content-column {
    width: 85%;
  }

  tr {
    display: flex;
  }


}
