table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  //width: 100%;
}

thead tr th {
  border-bottom: 1px solid #e0e0e0;
  border-collapse: collapse;
  text-align: left;
}

td {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px;
  font-size: 15px;
  line-height: 15px;

  a {
    border-radius: 2px;
    color: #333;
    font-size: .75em;
    padding: 6px 7px 4px 7px;
    text-decoration: none;
    transition: all ease 250ms;
  }

  a:hover {
    background-color: #333;
    color: white;
  }
}

tr:hover {
  background-color: whitesmoke;
  transition: all ease 300ms;
  transition-delay: 25ms;
}

thead tr:hover {
  background-color: white;
}
